# Default ignored files
/shelf/
/.idea/workspace.xml

target
*.class
*.log

*.iml
*.ipr
*.iws
.idea
out

tags
.*.swp
.*.swo

build
.classpath
.project
.settings
org.scala-ide.sdt.core/META-INF/MANIFEST.MF
org.scala-ide.sdt.update-site/site.xml`
.DS_Store

lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
